<html>
<head>
    <title>cellar overview</title>
</head>
<body>
<script src="http://mathieumitchell.com/viz.js">
</script>

<div id="graph_div"></div>

<script type="text/vnd.graphviz" id="graph_id">
    digraph g {
        node [
            shape = "record";
            style = "filled";
            fillcolor = "#ddddff";
        ]

        {% for resource in resources %}
            "{{resource.uuid}}" [
                label = "{% raw %}{{% endraw %}
                {{resource.uuid}}|
                \<\<{{resource.type}}\>\>|
                {% for key, value in resource.attributes.items() -%}
                    + {{key}}: {{value}}{% raw %}\l{% endraw %}
                {% endfor -%}|
                {% for key, value in resource.foreign_tracking.items() -%}
                    + {{key}}: {{value}}{% raw %}\l{% endraw %}
                {% endfor -%}
                {% raw %}}{% endraw %}";
            ]

            {% for key, value in resource.relations.items() -%}
                "{{resource.uuid}}" -> "{{value.uuid}}" [ label = "{{key}}" ];
            {% endfor -%}
        {% endfor %}
    }
</script>

<script>
    document.getElementById("graph_div").innerHTML = Viz(document.getElementById("graph_id").innerHTML, "svg");
</script>
</body>
</html>
